*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    
}
.navbar{
    display: flex;
    align-items: center;
   justify-content: space-between;
   padding: 0 5%;
  

    
    
}
.icondiv{
    display: flex;
    
   
    
}
img{
    width: 50px;
    align-items: center;

}
ul{
    list-style: none;
    display: flex;
    }

    ul li{
        padding: 0 20px;
    }
    .logo p{
        float: inline-end;
        margin-top: 10px;
        margin-left: 10px;
    }
    .icondiv img{
        padding: 0 15px;
        width: 20px;
    }
    p{
        font-weight: bolder;
        font-size: large;
    }
    .container{
        background: url(./images/hero.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height:100vh;
        padding-top: 10%;
        padding-left: 20%;
        max-width: 1250px;
        
    }
    .content{
        width: 40%;
        height: 60%;
    background-color:wheat;
    margin-left: 45%;
    margin-top: 9%;
    padding: 20px 20px;
    
       
        }
        .menuicon{
            display: inline-block;
            cursor: pointer;
        }
        .bar1, .bar2, .bar3{
            width: 35px;
            height: 5px;
            background-color: #333;
            margin: 6px 0;
            transition: 0.45s;
        }
        .content p{
          font-size: 20px;
          width: 400px;
          font-weight: 50;
          line-height: 20px;
          margin-top: 20px;
    
        }
        .content h2{
            font-size:60px;
            line-height: 50px;
            margin-top: 30px;
            color: gold;
        
        }
        .content button{
            width: 200px;
            height: 40px;
            background-color: gold;
            color: white;
            border-radius: 10px;
            border: none;
           margin-top: 30px;
        }
        .browse{
            margin-top: 30px;
            font-size: xx-large;
            margin-left: 40%;
           }
           .browse_p{
            margin-left: 34%;
            font-size: large;
            font-weight: 400;
           }
           .browsediv{
            display: flex;
            
            height: 70vh;
            padding: 0 12%;
            align-items: center;
            max-width: fit-content;
            }
           .range{
            width: 95%;
            margin-top: 10px;
            
           }
           
           .range-2{
            width: 95%;
            margin-top: 10px;
           }
           .range-3{
            width: 95%;
            margin-top: 10px;
           }
          .range-p,.range-2-p,.range-3-p{
            padding-left: 150px;
          }
          .our{
            margin-top: 30px;
            font-size: xx-large;
            margin-left: 45%;
          }
          .ourproductdiv{
            display: flex;
            width: fit-content;
            height: fit-content;
            padding: 0 12%;
            margin: 0%;
            margin-top: 20px;
          }
            
         
          
         
         .pricediv{
            display: flex;
        
         } 
         .pricediv p{
            font-weight: 200;
            padding: 0 34px;
            text-decoration: line-through;
         }
         .style{
            font-weight: 200;
            line-height: 40px;
            
         }
         .downdrop{
            width: fit-content;
                background-color: hsla(0, 0%, 50%, 0.336)}

            .downdrop-1{
                width: max-content;
                height: fit-content;
                background-color: hsla(0, 0%, 50%, 0.336);
                width: 249px;
            }
        
         
         .lolito{
            width: 89%;
            
            
         }
         .respira{
            width: 89%;
            
           
         }
         .syltherine{
            width: 89%;
        }
        .leviosa{width: 89%;

        }
        .showmore{
            width: 250px;
            border: solid gold;
            background-color: white;
            color: gold;
            height: 50px;
            margin-left: 40%;
            margin-top: 20px;
        }
        .container-2{
            background-color: wheat;
            height: 80vh;
            min-height: fit-content;
        
            
            min-width: fit-content;
            margin-top: 20px;
            display: flex;
            }
            .beautifuldiv{
                padding: 5% 5%;
                width: 30%;
                height: fit-content;
                margin-top: 10%;
                

                
            
                
            }
            .beautifuldiv h2{
                
                font-size: 300%;
                max-width: fit-content;
            }
            .beautifuldiv p{
                font-weight: 200;
            }
            .beautifuldiv button{
                background-color: gold;
                color: white;
                margin-top: 10px;
                border: none;
                width: 100px;
                height: 50px;

            }
                
        .room-1{
            width: 100%;
            height: 93.5% ;
            padding: 20px;
            margin-left: 5px;

        }
        .share{
            margin-left: 45%;
            font-size: large;
            font-weight: 400px;
            margin-top: 20px;


        }
        .fun{
            margin-left:42%;
            font-size: xx-large;
        }
        .container-3{
            width: max-content%;
            height:100vh;
            display: flex;
            justify-content: space-between;
            
           
            
        }

        
    
        .leftBottom{
            width: 40%;
            height:100vh;
            
        }
        .rightBottom{
            width: 40%;
            height:100vh;
            
            
        }
        .middleBottom{
            width: 20%;
            height:100vh;
            
        }
            .firstImg{
                height: 47vh;
                width: 150px;
            }
        .innerLeftBottom{
            display: flex;
            
        }
        .secondImg{
            width: 420px;
            margin-left: 10px;
            margin-top: 40px;
        }
        .innerLeftDownBottom{
            display: flex;
            width: fit-content;
        }
        .firstImgDownLeft{
           width: 50%; 
           max-width: fit-content;
        }

        .secondImgDownLeft{
            width: 49%; 
          margin-top: 10px;
           height: 100%;
           }
           
            .middleBottom img{
                width: 90%;
                margin-top: 150px;
                margin-left: 20px;
                
            }
           .innerLeftDownBottom img{ 
            margin-top: 10px;
            margin-left: 10px;
           }
           .lastContainer   {
            display: flex;
            padding: 2% 12%;
            justify-content: space-between;
            max-height: fit-content;
           }
           .comapanynameAdressdiv{
            
            
           }
           .comapanynameAdressdiv h2{
            line-height: 100px;
            font-size: xx-large;
           }
        .comapanynameAdressdiv address{
            font-size:x-large;
            color:  hsla(0, 0%, 50%, 0.336);
            font-weight: 200;}
            

        .links p{
            line-height: 100px;
        }
        .help{
            line-height: 100px;
        }
        .newsletter{
            line-height: 100px;
        }

        .newsletter button{
            display: inline-block;
        }
        .newsletter input{
            border: none;
            text-decoration: underline;
            text-align: center;
        }
        .newsletter button{
            border: none;
            text-decoration: underline;
            margin-left: 10px;
        
        }
            
            
            
            

        .helP,.linkSP, .newsletter P{
            color: hsla(0, 0%, 50%, 0.336); ;
        }

        .hrhr{
            padding: 0 12%;
        }
       .lastP {
            padding: 10px 12%;
        }

        @media screen and (max-width: 480px){
            

        }